<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
       <initializeTracker>
        <processor 	type="CoreBlimey.OutcomeRules.Pipelines.RunOutcomeRules, CoreBlimey.OutcomeRules" patch:after="processor[@type='Sitecore.Analytics.Pipelines.InitializeTracker.RunRules, Sitecore.Analytics']">
          <OutcomeRootItemId>{062A1E69-0BF6-4D6D-AC4F-C11D0F7DC1E1}</OutcomeRootItemId>
          <OutcomeDefinitionId>{EE43C2F0-6277-4144-B144-8CA2CEFCCF12}</OutcomeDefinitionId>
        </processor>
      </initializeTracker>
    </pipelines>
  </sitecore>
</configuration>
